.ctn{
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/home-hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrp{
  width: 100%;
  height: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.txt{
  width: 100%;
  max-width: 410px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.txt h1{
  font-size: 2.5rem;
  font-weight: 300;
  color: #070020;
  line-height: 1.2;
}

.txt h1 span{
  font-weight: 500;
  color: #031C6E;
}

.txt p{
  font-size: 1rem;
  font-weight: 100;
  color: #141414;
}


@media screen and (max-width: 950px){
.ctn{
  height: 70vh;
  background-size: 400%;
}

.wrp{
  padding: 0 20px;
}

.txt h1{
  font-size: 8.5vw;
}

.img{
  display: none;
}

}