.ctn{
  width: 100%;
  height: 104vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-image: url(../../assets/sec-bg.png);
  margin: 100px 0;
  background-position-x: 70%;
  background-position-y: 100%;
}

.wrp{
  width: 100%;
  height: fit-content;
  max-width: 1100px;
}

.slide{
  width: 320px !important;
  height: fit-content !important;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative !important;
}

.slide:hover{
  color: #ffffff;
  background-color: #031C6E;
}

.img{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F0F5F8;
}

.img img{
  width: 120px;
}

.txt{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h3{
  font-size: 1.1rem;
  font-weight: 500;
  color: #29ABE2;
}

.slide:hover .header h3{
  color: #ffffff;
}

.header h3::first-letter{
  font-size: 1.2rem;
  font-style: capitalize;
}

.rating{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.rating p{
  font-size: .7rem;
  font-size: 100;
}

.rating svg{
  font-size: 1rem;
}

.desc{
  width: 100%;
  font-size: .8rem;
}

.amount{
  font-size: 1.2rem;
  font-weight: 500;
}

.btn{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #031C6E;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide:hover .btn{
  background-color: #ffffff;
  color: #031C6E;
}



@media screen and (max-width: 600px){
.ctn{
  padding: 0 10px;
}

.slide{
  width: 100% !important;
}

}