.ctn{
  width: 100%;
  background-image: linear-gradient(90deg, #ffffff00, #b7b7fc15), url(../../assets/Medic-Plus.png);
  background-size: 100%;
  padding: 100px 0;
}

.title{
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #031C6E;
  text-align: center;
}

.subtitle{
  width: 100%;
  font-size: .9rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.wrp{
  width: 100%;
  max-width: 1000px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  margin-top: 100px;
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
}

.info{
  width: 100%;
  max-width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #031C6E;
  color: white;
  padding: 30px 20px;
}

.info h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.info p, .info a{
  font-size: .8rem;
  font-weight: 300;
}

.infoItem{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact a{
  display: flex;
  gap: 20px;
}

.socials{
  display: flex;
  gap: 15px;
}

.form{
  width: 100%;
  max-width: 650px;
  height: auto;
  padding: 30px 20px 20px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 20px;
}

.input{
  width: 100%;
  max-width: 260px;
  font-size: .9rem;
}

.longInput{
  width: 90%;
  max-width: 100%;
  font-size: .9rem;
}

.select{
  width: 100%;
}

.form button{
  padding: 13px 20px;
}


@media screen and (max-width: 900px){
.ctn{
  padding: 100px 20px;
}

.wrp{
  height: auto;
  flex-direction: column;
  gap: 50px;
}

.info{
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 50px 20px;
  gap: 50px;
}

.infoItem{
  gap: 50px;
}

.form{
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 30px 20px 20px 20px;
}
}


@media screen and (max-width: 600px){
.input{
  max-width: 100%;
}
}