.ctn{
  width: 100%;
  background-color: #031C6E;
}

.wrp{
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 50px 0;
}

.logo{
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img{
  width: 170px;
}

.subtitle{
  font-size: .5rem;
  font-weight: 500;
  color: #29ABE2;
  margin-bottom: 20px;
}

.desc{
  font-size: .7rem;
  font-weight: 100;
}

.quickLinks, .contactDetails, .legal{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: .8rem;
}

.socials{
  display: flex;
  gap: 15px;
}

.copyright{
  width: 100%;
  text-align: center;
  font-size: .9rem;
  font-weight: 100;
  padding: 20px;
  border-top: .5px solid #ffffff1f;
  color: #ffffffaa;
}



@media screen and (max-width: 950px){
.wrp{
  flex-direction: column;
  padding: 50px 20px;
  text-align: center;
  gap: 60px;
}

.logo{
  width: 100%;
  margin: 0 auto;
}
}