.ctn{
  width: 100%;
  height: 85vh;
  background-image: url(../../assets//contactBg.png);
  background-size: cover;
  background-position: center;
}

.wrp{
  width: 100%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.wrp h1{
  width: 300px;
  font-size: 2.8rem;
  font-weight: 400;
  color: #070020;
  line-height: 1.2;
}

.wrp h1 span{
  font-weight: 500;
  color: #031C6E;
}


@media screen and (max-width: 1100px){
.ctn{
  padding: 0 20px;
}
}


@media screen and (max-width: 500px){
.ctn{
  height: 90vh;
  background-image: linear-gradient(180deg, #ffffffd0, #ffffff00 80%), url(../../assets/contactBg.png);
  background-position-x: 45%;
  background-position-y: 10vh;
  background-size: cover;
}

.wrp h1{
  margin-top: -150px;
  font-weight: 500;
}
}