*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  background: none;
  border: none;
}

li{
  list-style: none;
  color: inherit;
}

.title{
  font-size: 2.5rem;
  font-weight: 500;
  color: #031C6E;
  margin-bottom: 20px;
  letter-spacing: -2px;
}

.ctn{
  width: 100%;
  height: 100vh;
}



/* button styling */
.bigBtn{
  width: fit-content;
  background: #031C6E;
  padding: 15px 40px;
  border-radius: 4px;
  color: #ffffff;
  transition: all ease-out .3s;
  transition-delay: .1s;
  font-size: .9rem;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}

.bigBtn svg{
  font-size: 1.2rem;
}

.bigBtn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #011145;
  transform: scaleX(0);
  transform-origin: 0;
  transition: all ease-in-out .3s;
  z-index: -1;
}

.bigBtn:hover,
.bigBtn:focus{
  color: #ffffff;
}

.bigBtn:hover:before,
.bigBtn:focus:before{
  transform: scaleX(1);
}


.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}

.swiper-button-next::before,
.swiper-button-prev::before{
  content: ">";
  width: 40px ;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff !important;
  transition: all ease-out .3s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.swiper-button-prev::before{
  content: "<";
}