.ctn{
  width: 100%;
  height: 80px;
  background: #031C6E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
}

.wrp{
  width: 100%;
  height: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo img{
  width: 120px;
}

.menu{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links{
  display: flex;
  align-items: center;
  gap: 30px;
  color: #ffffff;
  font-size: .9rem;
}

.pharmacy{
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  transition: all ease-in-out .5s;
}

.pharmacy svg{
  fill: white;
  font-size: 1.5rem;
}

.auth{
  display: flex;
  align-items: center;
  gap: 30px;
}

.login{
  width: 100px;
  padding: 5px 20px;
  border: 2px solid #29ABE2;
  color: #29ABE2;
  font-size: .85rem;
  font-weight: 200;
  text-align: center;
  border-radius: 5px;
  transition: all ease .3s;
}

.login:hover{
  background: #29ABE2;
  color: #ffffff;
}

.signup{
  width: 100px;
  padding: 7px 20px;
  color: #ffffff;
  font-size: .9rem;
  background: #29ABE2;
  font-weight: 200;
  text-align: center;
  border-radius: 5px;
  transition: all ease .3s;
}

.cart2, .hamburger, .close{
  display: none;
}

.cart1{
  padding: 3px;
}

.drop{
  height: 100px;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: white;
  color: #031C6E;
  position: absolute;
  bottom: -100px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  transition: all ease-in-out .5s;
}



@media screen and (max-width: 1000px){
.wrp{
  padding: 0 10px;
}

.menu{
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  background: #031C6E;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 100px;
  transition: all ease-in-out .4s;
  z-index: 10000;
}

.links{
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-top: 150px;
  font-size: 1.3rem;
  padding-right: 30px;
}

.auth{
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.login, .signup{
  width: 80%;
  padding: 14px;
  font-size: 1rem;
  font-weight: 300;
}

.cart1{
  display: none;
}

.cart2, .close, .hamburger{
  display: block;
}

.cart2{
  padding: 3px;
}

.close{
  position: absolute;
  top: 30px;
  right: 30px;
  color: #ffffff;
}

.hamburger{
  color: #ffffff;
  font-size: 2rem;
}

.close{
  color: #ffffff;
  font-size: 2rem;
}

.drop{
  padding: 10px 20px;
  font-weight: 400;
  font-size: 1rem;
  left: -30px;
}
}